################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Integration/FileContentIndex/b038718c-c8f7-4067-85bc-2a6d33d0ecea.vsidx
